
// email.html
.login--email {
    @extend %login;

    .container--email {
        @extend %container;
        justify-items: center;

        .logo {
            @extend %logo;

            @media (max-width : 640px){
                display: flex;
            }
        }

        .title--email {
            @extend %title;
        }

        .subtitle--email {
            @extend %subtitle;
        }

        .email--image {
            @extend %email-image;

            img {
                width: 8rem;
            }
        } 

        .primary--button--email {
            @extend %primary-button;
        }
    
        .login--button--email{
            @extend %login-button;
        }

        .resend {
            @extend %resend;

            span{
                @extend %resend-span;
            }

            a {
                @extend %resend-a;
            }


        }
    }
}
