
// password.html
.login--login {
    @extend %login;

    .container--login {
        @extend %container;

        .logo {
            @extend %logo;

            @media (max-width : 640px){
                display: flex;
            }
        }


        .form--login {

            @extend %form;
        
        
            .label--login {@extend %label;}
        
            .input {@extend %input;}

            .input--email--login{ margin-bottom: 2.5rem; }
        
            .primary--button--login {@extend %primary-button;}
        
            .login--button--login {@extend %login-button;}

            a {@extend %form-a;}

        }

        .secundary--button--login {
            @extend %secundary-button;

            &:hover {
                @extend %secundary-button-hover;
            }

            @media (max-width: 640px){

                    width: 30rem;
                    position: absolute;
                    bottom: 0;
                    margin-bottom: 2.4rem;
                
            }
        
        
        }

    }
}
