// Colors
$very--ligth-pink : #C7C7C7;
$white : #FFFFFF;
$text--input--field : #F7F7F7 ;
$black : #000000;
$hospital--green : #ACD9B2;
$dark : #232830;

//size 
$sm : 1.6rem;
$md : 1.8rem;
$lg : 2rem;